firebase_db/local.db
*.session*
downloads/
.env
.venv/
__pycache__
bot.log
cleanup.log
fb_secrets.json
firebase_secrets.json
keeper.lock
keeper.log
storage
terabox_bot.session 
terabox_bot.session-journal
test_downloads
venv/
videos
